body {
    margin: 60px auto;
    width: 60%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    line-height: 1.4em;
}
p a{
    color: #424eff;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts li {
    list-style: none;
}

.pagination {
    text-align: center;
}

.date {
    font-size: 20px;
    color: #9a9a9a;
    margin-top: 5px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

nav {
    border-bottom: 1px solid #d5d5d5;
}

.postcon + .postcon {
    margin-top: 100px;
}

.post-heading {
    position: relative;
}

.post-title {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 25px;
}

.post-date {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.post-content {
    margin-top: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #2f2f2f;
}

.post {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #2f2f2f;
    padding-bottom: 10px;
}
.outer {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

.continue {
    font-size: 20px;
    color: #9a9a9a;
}

.page_number, .next, .previous {
    font-size: 16px;
}
