---
layout: default
title: Jomy's Blog
---
	<ul class="posts">
	<div class="postcon">
		<div class="post-heading">
			<div class="post-title">
				  {% for post in paginator.posts %}
				    <li><h2>» <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2><br>
	    		</div>
	    		<div class="post-date">
	    			<span class="date">{{ post.date | date_to_string }}</span></li>
	    		</div>	
	    	</div>
	   	<div class="post-content">
			{{ post.content | strip_html | truncatewords:75}}<br>
		        <a href="{{ post.url }}">Read more...</a><br><br>
		  	{% endfor %}
	  	</div>
	  </div>
	</ul>
	
	<!-- Pagination links -->
	<div class="pagination">
	  {% if paginator.previous_page %}
	    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
	  {% endif %}
	  <span class="page_number "><em>Page: {{ paginator.page }} of {{ paginator.total_pages }}</em></span>
	  {% if paginator.next_page %}
	    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
	  {% endif %}
	</div>
	<br>
