<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Nunito:300" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul class="outer">
	        		<li><a href="/blog/">Home</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul class="outer">
	    			<li><a href="https://jomyemmanuel.github.io">About</a></li>
	        		<li><a href="mailto:jomy_emmanuel@yahoo.com">Email</a></li>
	        		<li><a href="https://github.com/jomyemmanuel">Github</a></li>
				</ul>
			</footer>
		</body>
	</html>
